<div class="container">
  <div id="auth"></div>
  <div id="error"></div>
  <div id="repository"></div>
  <div id="collaborators"></div>
  <div id="forks"></div>
</div>
<script data-main="js/main" src="/vendors/requirejs/require.js"></script>
