<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Marionette Skeleton App</title>
    <link href="/css/main.css" rel="stylesheet">
  </head>
<body>
  <div id="wrap">
      <!--<iframe src="https://github.com/login/oauth/authorize?client_id=526248ed6d1de7b9e5f4"></iframe>-->
    <div class="container">
      <div id="auth"></div>
      <div id="error"></div>
      <div id="repository"></div>
      <div id="collaborators"></div>
      <div id="forks"></div>
    </div>
    <!-- <div id="header-region"></div>
    <div id="toolbar-region"></div>
    <div id="main-region" class="container"></div> -->
  </div>
  <div id="footer-region" class="container"></div>
  <script data-main="js/main" src="/vendors/requirejs/require.js"></script>
</body>
</html>
